*{margin: 0 auto;padding: 0; list-style-type: none;}
a{display: block; text-decoration: none;}

.table_line{
    margin: 0 auto;
    overflow: auto;
    border: 1px solid black;
}

.table_line th, .table_line td{
    padding: 5px;
    border: 1px solid black;
}

.table_line th{
    width: 20%;
}

.email{
    width: 40%;
}